#certificados {
    list-style: none;
    text-align: center;
    margin: 15% ;
    margin-top: 0%;
}
label{
    font-size: 12px;
    width: 200px;
    text-decoration: none;
    color:black
}

ul img {
    width: 150px;
    border: solid 1px #ccc;
    list-style: none;
}

img {
    vertical-align: middle;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

#certificados li img{
    max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}

#certificados li img:hover{
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

