@media (max-width: 992px)

.tarja_secao {
    font-size: 30px;
}
.tarja_secao {
    background: #B11116;
    text-transform: uppercase;
    font-family: 'effrabold';
    text-align: center;
    padding: 5px 15px;
    font-size: 48px;
    color: #FFF;
    font-size: 30px;
margin: ;}